<div class="contenedor">
    <div class="formato1">
        <form method="POST" action="/">
            <h4> 🔥 PHILOSOPERS CHAT</h4>
            <input type="text" name="email" placeholder="email" /><br>
            <input type="password" name="password" placeholder="password" /><br>
            <button type="submit">enviar</button>
        </form>
    </div>

</div>




<link rel='stylesheet' href='../estaticos/estaticosLogin/main.css'>
